body{
    background-color:#f2f2f2;
    font-family: Arial,sans-serif;
}
.container{
    max-width: 500px;
    margin: 100px auto;
}
.loanCal{
    background-color: white;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
h2{
    text-align: center;
    text-decoration: underline;
}
.input{
    margin-bottom: 15px;
}
.input label{
    display: block;
    margin-bottom: 5px;
}
.input input{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
button{
    display: block;
    color: white;
    background-color:#4caf50;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;
}
#result{
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    border:1px solid #ccc;
    border-radius: 4px;
}
